* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    left: 25%;
    top: 200px;
}
body {
    background-color: black;
  }
#game {
    width: 800px;
    height: 400px;
    border: 5px solid black;
    position: relative;
    /* padding: 20px; */
    background: url("background.jpg");
    background-size: 100%;
    background-position: center;
}

#score {
    position: absolute;
    top: 100px;
    left: 50px;
    display: flex;
    align-items: center;
}

#character {
    width: 50px;
    height: 42px;
    position: relative;
    bottom: 0;
    top: 300px;
    left: 10px;
    color: black;
    background: url("Cyndaquil2.png");
    background-size: 100%;
    transition: transform 0.5s linear; /* adjust this value to change the jump height */
}
.animate {
    animation-name: jump;
    animation-delay: .2s;
    animation-fill-mode: forwards;
    animation-duration: .5s;
    transform-origin: center bottom;

    /* top: 300px; change this value to adjust jump height */
}
/* animation for jump ^ */

@keyframes jump {
    0% { top: 300px; }
    40% { top: 200px; transform: translateY(-100px); }
    50% { top: 190px; transform: translateY(-110px); }
    60% { top: 200px; transform: translateY(-100px); }
    100% { top: 300px; }
}


#block {
    width: 80px;
    height: 50px;
    position: relative;
    top: 250px;
    left: 700px;
    animation: block 1.50s infinite linear;
    background-image: url("krabby.png");
}
/* animation right to left v */
@keyframes block {
    0%{left:700px;}
    100%{left:-40px;}
}

#you-lose {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: bold;
    color: red;
  }

  .p{
    border: 2px solid;
    border-image: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    border-image-slice: 1;
    animation: rainbow 10s infinite;
    color: #fff;
  }

  .button {
    border: 2px dashed pink;
    margin-top: 100px;
    margin-left: 100px;
    background-color: #0047ab;
    color: white;
    font-size: 16px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  .button:hover{
    background-color: #0047ab;
    color: #fff;
    box-shadow: 0px 8px 15px rgba(0,0,0,0.3);
    transform: translateY(-3px);
  }
  .h1{
    margin-top: 140px;
    margin-left: 500px;
    color: #0047ab;
    font-size: 16px;
  }